
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

.reveal h1, .reveal h2 {
  color: #e10098;
  font-family: "Open Sans", sans-serif;
}

.reveal p, .reveal li  {
 font-size: 80%; 
}

.reveal .slides > p {
   text-align:left;
}

* {
  font-family: "Open Sans", sans-serif;
}

 
 .reveal {
    font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}
